<?xml version="1.0" encoding="utf-8"?>
<configuration>
<config>
    <add key="repositoryPath" value="Packages" />
</config>
	<packageSources>
		<clear/>
		<add key="ivi" value="https://ivifoundation.pkgs.visualstudio.com/IVI/_packaging/IVI/nuget/v3/index.json" />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3"/>
		<add key="LocalFeed" value=".\build\Release"/>
	</packageSources>
	<packageSourceMapping>
		<packageSource key="LocalFeed">
			<!-- Only these packages come from the local feed -->
			<package pattern="IviFoundation.DriverCore"/>
			<package pattern="Acme.AcmeDriver"/>
		</packageSource>
		<packageSource key="nuget.org">
			<!-- Everything else from NuGet.org -->
			<package pattern="*"/>
		</packageSource>
				<packageSource key="ivi">
			<!-- Everything else from NuGet.org -->
			<package pattern="FireGiant.WixExpansionPack"/>
		</packageSource>
	</packageSourceMapping>
</configuration>