<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear/>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3"/>
		<add key="LocalFeed" value=".\build\Release"/>
	</packageSources>
	<packageSourceMapping>
		<packageSource key="LocalFeed">
			<!-- Only these packages come from the local feed -->
			<package pattern="IviFoundation.DriverCore"/>
			<package pattern="Keysight.KtIviNetDriver"/>
		</packageSource>
		<packageSource key="nuget.org">
			<!-- Everything else from NuGet.org -->
			<package pattern="*"/>
		</packageSource>
	</packageSourceMapping>
</configuration>